/*重置样式*/
body,ul,li,p,pre,h2{margin:0;padding:0;list-style:none;font-family: "微软雅黑";}
a{text-decoration:none;display:block;color:#333;}
input::-ms-clear{display: none;}
/*常用样式设置*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:'';display:block;visibility:hidden;height:0;clear:both;}
.clearfix{zoom:1;}
/******顶部导航****/
.top-bar{
	height:36px;
	background: #5d5d58;
}
.top-nav,.logo-nav,.nav-cont-nav{
	width:1220px;
	margin:0 auto;
}
.top-nav .top-box li{
	box-sizing: border-box;
	height:36px;
	line-height: 36px;
	padding:0px 10px;
}
.top-nav .top-box li:hover{
	background: #333333;
}
.top-nav .top-box li a{
	color:#ccc;
	font-size: 15px;
}
.top-nav .top-box .home{
	background: #fff;
}
.top-nav .top-box .home a{
	color:#333;
}
/******logo****/
.logo-bar{
	height: 80px;
}
.logo{
	box-sizing: border-box;
	height:80px;
	padding:20px 0px;
}
.logo-nav ul li{
	box-sizing: border-box;
	height:80px;
	line-height: 80px;
}
.logo-nav ul li a{
	font-size: 15px;
}
.logo-nav ul li img{
	margin-top:20px;
}
.logo-nav ul li a:hover{
	text-decoration: underline;
}
/*********我想****/
.nav-cont-bar{
	box-sizing: border-box;
	background: #f7f7f7;
	height:55px;
	overflow: hidden;	border-top:1px solid rgb(238,238,238) ;
}
.nav-cont-bar .nav-list{
	height:54px;
	position: relative;
}
.nav-list .want{
	box-sizing: border-box;
	border: 1px solid #eee;
	height:54px;
	line-height: 54px;
	padding:0px 10px;
	overflow: hidden;
	position: relative;
}
.nav-list .insight,.solution,.service,.product,.technical,.partner,.developer,.shop{
	box-sizing: border-box;
	margin-left:40px;
	height:54px;
	line-height: 52px;
}
.search-box{
	margin-right:10px;
	height:36px;
	width:200px;
	margin-top:9px;
	border: 0;
	outline: none;
}
.developer:hover{
	color:#f00;
	border-bottom:1px solid #f00 ;
}
.shop:hover{
	color:#f00;
	border-bottom:1px solid #f00 ;
}
.nav-display{
	display:inline-block;
}
/*******我想下拉菜单****/
.want-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:208px;
	width:1220px;
	overflow: hidden;
	border-top: 1px solid rgb(238,238,238);
}
.want-li-bar .want-first,.want-second{
	margin-right:180px;
}
.want-li-bar .want-first .want-first-img{
	margin-right:30px;
}
.want-li-bar .want-first ul li{
	line-height: 36px;
}
.want-li-bar .want-second .want-second-img{
	margin-right:30px;
}
.want-li-bar .want-second ul li{
	line-height: 36px;
}
.want-li-bar .want-third ul li{
	line-height: 36px;
}
/*******行业洞察下拉菜单***/
.nav-display-ul .insight-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:334px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.insight-li-bar .insight-first{
	width:250px;
	margin-right:150px;
}
.insight-li-bar .insight-first li{
	box-sizing: border-box;
	height:38px;
	line-height: 38px;
	border-bottom: 1px solid #aaa;
}
.insight-li-bar .insight-second,.insight-third {
	width:300px;
	margin-right:100px;
}
.insight-li-bar .insight-second img{
	margin-bottom:8px;
}
.insight-li-bar .insight-third img{
	margin-bottom:8px;
}
.insight-li-bar .insight-second a{
	font-weight: 700;
	margin-bottom: 8px;
}
.insight-li-bar .insight-third a{
	font-weight: 700;
	margin-bottom: 8px;
}
.insight-li-bar .insight-second p{
	line-height: 28px;
}
.insight-li-bar .insight-third p{
	line-height: 28px;
}
/*******解决方案下拉菜单****/
.nav-display-ul .solution-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:360px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.solution-li-bar .solution-first{
	width:150px;
	line-height: 28px;
	margin-right:50px;
}
.solution-li-bar .solution-first #solution-first-title{
	color:#f00;
	font-weight: 700;
	margin-bottom: 10px;
}
.solution-li-bar .solution-second{
	width:180px;
	line-height: 28px;
	margin-right:100px;
}
.solution-li-bar .solution-second .solution-second-one{
	margin-right: 80px;
}
.solution-li-bar .solution-second #solution-second-title{
	color:#f00;
	font-weight: 700;
	margin-bottom: 10px;
}
.solution-li-bar .solution-third{
	width:300px;
	margin-right:50px;
}
.solution-li-bar .solution-fourth{
	width:300px;
}
.solution-li-bar .solution-third img{
	margin-bottom:10px;
}
.solution-li-bar .solution-fourth img{
	margin-bottom:10px;
}
.solution-li-bar .solution-third a{
	font-weight: 700;
	margin-bottom: 10px;
}
.solution-li-bar .solution-third p{
	line-height: 28px;
}
.solution-li-bar .solution-fourth a{
	font-weight: 700;
	margin-bottom: 10px;
}
.solution-li-bar .solution-fourth p{
	line-height: 28px;
}
/***********服务****/
.nav-display-ul .service-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:290px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.service-li-bar .service-first{
	line-height: 28px;
	margin-right:150px;
}
.service-li-bar .service-first #service-first-title{
	font-weight:700 ;
	color:#f00;
	margin-bottom:10px;
}
.service-li-bar .service-second{
	line-height: 28px;
}
.service-li-bar .service-second #service-second-title{
	font-weight:700 ;
	color:#f00;
	margin-bottom:10px;
}
/***********产品****/
.nav-display-ul .product-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:323px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.product-li-bar .product-first{
	width:80px;
	margin-right:80px;
}
.product-li-bar .product-first #product-first-title{
	font-weight:700 ;
	color:#f00;
	margin-bottom:10px;
}
.product-li-bar .product-first li{
	line-height: 28px;
}
.product-li-bar .product-second{
	margin-right:80px;
}
.product-li-bar .product-second #product-second-title{
	font-weight:700 ;
	color:#f00;
	margin-bottom:10px;
}
.product-li-bar .product-second li{
	line-height: 28px;
}
.product-li-bar .product-second #product-second-one-title{
	font-weight:700 ;
	margin-bottom: 10px;
}
.product-li-bar .product-second .product-second-one{
	margin-right: 100px;
}
.product-li-bar .product-second #product-second-two-title{
	font-weight:700 ;
	margin-bottom: 10px;
}
.product-li-bar .product-second .product-second-two ul{
	margin-right: 100px;
}
.product-li-bar .product-second #product-second-three-title{
	font-weight:700 ;
	margin-bottom: 10px;
}
/**********技术支持****/
.nav-display-ul .technical-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:322px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.technical-li-bar  li{
	line-height: 28px;
}
.technical-li-bar .technical-frist,.technical-second,.technical-thrid{
	margin-right:150px;
}
.technical-li-bar .technical-fourth{
	width:293px;
}
#technical-second-title,#technical-thrid-title,#technical-frist-title{
	color:#f00;
	font-weight:700 ;
	margin-bottom: 10px;
}
/**********合作伙伴****/
.nav-display-ul .partner-li-bar{
	display: none;
	box-sizing: border-box;
	padding:10px 0px 0px 20px;
	height:300px;
	width:1220px;
	border-top: 1px solid rgb(238,238,238);
}
.partner-li-bar li{
	line-height: 28px;
}
#partner-first-title,#partner-second-title,#partner-third-title,#partner-fourth-title{
	color:#f00;
	font-weight:700 ;
	margin-bottom: 10px;
}
.partner-li-bar .partner-first{
	margin-right:50px;
}
.partner-li-bar .partner-second,.partner-thrid,.partner-fourth{
	margin-right:100px;
}
/**********banner****/
.banner-nav{
	position: relative;
}
.banner-nav ul{
	position: absolute;bottom:5%;left:50%;
}
.banner-nav ul li{
	margin-right:10px;
}
.banner-nav i{
	display: none;
	color:rgba(200,200,200,.5)
}
#active{
	color:#FFFFFF;
}
.banner-nav img{
	display: none;
	height:500px;
	width:100%;
}
/**********新闻*****/
.news-nav{
	width:1220px;
	margin:20px auto;
	height:60px;
}
.news-box{
	height:60px;
	width:1045px;
	background: #f7f7f7;
	overflow: hidden;
	position: relative;
}
.news-box ul li{
	height:60px;
	line-height: 60px;
}
/********谈话****/
.talk-nav{
	width:1220px;
	margin:20px auto;
	height:388px;
}
.talk-first,.talk-second{
	margin-right:55px;
	width:370px;
}
.talk-thrid{
	width:370px;
}
.talk-first a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.talk-second a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.talk-thrid a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.talk-first a:hover{
	text-decoration: underline;
}
.talk-second a:hover{
	text-decoration: underline;
}
.talk-thrid a:hover{
	text-decoration: underline;
}
.talk-first p{
	line-height: 28px;
}
.talk-second p{
	line-height: 28px;
}
.talk-third p{
	line-height: 28px;
}
/**********视频****/
.video-nav{
	width:1220px;
	margin:20px auto;
	height: 599px;
	position: relative;
}
.video-nav .video-img{
	width:1208px;
}
.video-nav .video-btn{
	position: absolute;top:45%;left:45%;
}
.video-nav .video-btn-active{
	display:none;
	position: absolute;top:45%;left:45%;
}
/*********科技***/
.science-nav{
	width:1220px;
	margin:20px auto;
	height: 405px;
}
.science-first,.science-second{
	width:381px;
	margin-right:32px;
}
.science-thrid{
	width:381px;
}
.science-first a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.science-second a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.science-thrid a{
	color:#111;
	font-size: 18px;
	margin:10px 0px;
}
.science-first a:hover{
	text-decoration: underline;
}
.science-second a:hover{
	text-decoration: underline;
}
.science-thrid a:hover{
	text-decoration: underline;
}
.science-first p{
	line-height: 28px;
}
.science-second p{
	line-height: 28px;
}
.science-thrid p{
	line-height: 28px;
}
/*********右边***/
.right-nav{
	cursor: pointer;
}
.right-nav .chat-box{
	height:48px;
	width:48px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 48px;
	background: rgba(200,200,200,.5);
	position: fixed;top:200px;right:0px;
}
.emal-box{
	height:48px;
	width:48px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 34px;
	background: rgba(200,200,200,.5);
	position: fixed;top:258px;right:0px;
}
.tel-box{
	height:48px;
	width:48px;
	margin-bottom: 10px;
	text-align: center;
	line-height:45px;
	background: rgba(200,200,200,.5);
	position: fixed;top:316px;right:0px;
}
.chat{
	display: none;
	box-sizing: border-box;
	padding:5px 10px;
	height:48px;
	width:48px;
	background: rgba(255,0,0,.5);
	position: fixed;top:200px;right:0px;
	color:#fff;
	font-size: 14px;
}
.emal{
	display: none;
	box-sizing: border-box;
	padding:5px 10px;
	height:48px;
	width:48px;
	color:#fff;
	font-size: 14px;
	background: rgba(255,0,0,.5);
	position: fixed;top:258px;right:0px;
}
.tel{
	display: none;
	box-sizing: border-box;
	padding:5px 10px;
	height:48px;
	width:48px;
	color:#fff;
	font-size: 14px;
	background: rgba(255,0,0,.5);
	position: fixed;top:316px;right:0px;
}
.back-top{
	display: none;
	height:48px;
	width:48px;
	margin-bottom: 10px;
	text-align: center;
	line-height:48px;
	background: rgba(200,200,200,.5);
	position: fixed;top:142px;right:0px;
}
/*******展会活动*****/
.exhibition-bar{
	height:255px;
	background: #f5f5f5;
}
.exhibition-nav{
	width:1220px;
	margin:20px auto;
}
.exhibition-title{
	height:34px;
	text-align: center;
	font-size: 24px;
	padding-top:20px;
	margin-bottom: 20px;
}
.exhibiton-first,.exhibiton-second{
	width:350px;
	margin-right: 50px;
}
.exhibiton-thrid{
	width:350px;
}
.exhibiton-first-title,.exhibiton-second-title,.exhibiton-thrid-title{
	font-size: 18px;
	margin-bottom: 10px;
	cursor: pointer;
}
.exhibiton-first-title:hover{
	text-decoration: underline;
}
.exhibiton-second-title:hover{
	text-decoration: underline;
}
.exhibiton-thrid-title:hover{
	text-decoration: underline;
}
.exhibiton-first img{
	margin-right:10px;
}
.exhibiton-second img{
	margin-right:10px;
}
.exhibiton-thrid img{
	margin-right:10px;
}
.exhibiton-first li{
	line-height: 28px;
	font-size: 14px;
}
.exhibiton-second li{
	line-height: 28px;
	font-size: 14px;
}
.exhibiton-thrid li{
	line-height: 28px;
	font-size: 14px;
}
/*********尾部*******/
.foot-bar{
	box-sizing: border-box;
	height:412px;
	background: #272727;
	padding-top:40px;
}
.foot-nav{
	width:1220px;
	margin:0 auto;
	
}
.foot-top-box p{
	color:#fff;
	font-weight: 700;
	margin-bottom: 10px;
}
.foot-top-box ul{
	margin-right:100px;
}
.foot-top-box a{
	color:#fff;
	font-size: 14px;
}
.foot-top-box a:hover{
	text-decoration: underline;
}
.foot-top-box ul li{
	line-height:28px;
}
.foot-top-five .img1{
	margin-bottom:30px ;
}
.img-small img{
	margin-right: 10px;
	margin-bottom: 10px;
}
#wei{
	margin-top:20px;
	font-size: 14px;
	font-weight: 600;
}
.foot-down-box{
	margin-top:80px
}
.foot-down-left{
	color:#fff;
	font-size: 12px;
}
